:root {
     --textColor: rgb(60, 167, 241); 
     --backgroundColor: rgb(31,31,31);
}

body {
     background: var(--backgroundColor);
     color: var(--textColor);
     display: flex;
     flex-direction: column;
     align-items: center;
}

th, td {
     border: 1px solid var(--textColor);
     padding: 8px;
}

.ratings-table {
     border-collapse: collapse;
     margin-top: 1 rem;
     width: 100%;
     text-align: center;
     font-family: sans-serif;
}

.hidden {
     display: none;
}

#addMovie-btn {
     display: none;
}